body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper {
    width: 100%;
}

.cube {
    position: fixed;
    top: -500px;
    margin: 900px;
    height: 100px;
    width: 200px;

    animation : spin 8s infinite linear;
    transform-style: preserve-3d;
}

@keyframes spin {
    from { transform: rotateY(0) rotateX(0); }
    to   { transform: rotateY(-360deg) rotateX(360deg); }
}

.cube > div {
    position: fixed;
    height: 200px;
    width: 200px;
    border: 1px solid #333;
    opacity: 1;
}

.cube > div:hover {
    opacity: 1;
    transition: opacity .3s linear;
}

.one {
    transform: rotateX(90deg) translateZ(100px);
    background-image: url( "/images/HeartBox.jpg" );
}

.two {
    transform: translateZ(100px);
    background-image: url( "/images/HeartBox.jpg" );
}

.three {
    transform: rotateY(90deg) translateZ(100px);
    background-image: url( "/images/HeartBox.jpg" );
}

.four {
    transform: rotateY(180deg) translateZ(100px);
    background-image: url( "/images/HeartBox.jpg" );
}

.five {
    transform: rotateY(-90deg) translateZ(100px);
    background-image: url( "/images/HeartBox.jpg" );
}

.six {
    transform: rotateX(-90deg) translateZ(100px);
    background-image: url( "/images/HeartBox.jpg" );
}